html{
    direction: rtl;
}




body {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;



  background-image: url("/assets/test-01.svg") ;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainlogo{
    width: 120px;
}



.widget-filter{
    direction: ltr;

}


.log_out{
    padding-right: 0px !important;
}

.profile-user {
    width: 40px;
    padding-right: 0px !important;
}

.username{
    padding-top: 10px;
    padding-right: 5px;
    margin-bottom: 5px;
}


ul.pagination{
    padding: 0px;
}
