.mainCover{
  width: 100%;
  overflow: hidden;
  max-height: 400px;
background-color: #fff;

}
.markit-image{
  /* margin-top: -10%; */
  position: absolute;
  bottom:  3%;
  right: 3%;
}
.marketData{
  background-color: #fff;
  width: 100%;
}


@media (max-width: 768px) {
  .mainCover{
    width: 100%;
    overflow: hidden;
    max-height: 150px;
  background-color: #fff;
  
  }
}
